* {
          margin: 0;
          padding: 0;
          font-size: 100%;
          box-sizing: border-box;
          background-color: red;
          

}

.div {
          background-color: red;
          margin: auto 0px;
}


         
          


.div {
          background-color: blue;
          margin: 0 3px;
          padding: 3px;
          
}

.div2 {
          margin:  0 3px;
}

.div3 {
          margin: 0 4px;
}

.div4 {
          margin: 0 5px;
}

.div {
          padding: 0 6px;
}